 body {
    text-align: center;
} 

header {
    height: 215px;
    background-color: gray;
}

main {
    min-height: 700px;
}

footer {
    height: 150px;
    background-color: aqua;
}

header ul {
    display: flex;
    list-style-type: none;
    background-color: #FF00FF;
    justify-content: space-between;   
    padding: 0;
}

header ul a {
    flex-basis: 100%;
}

.header_menu_list:hover {
    background-color: #F01204;
    padding: 10px;
}


.header_menu_list{
    padding: 10px;
}
header h1, body {
    margin: 0px;
    padding: 0px;
}

