<!DOCTYPE html>
<html>
    <head>
        <title>일이삼사</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <header>
            <h1>슬퍼 너무...</h1>
            <nav>
                <ul> 
                    <a href=""><li class="header_menu_list">커뮤니티</li></a>
                    <a href=""><li class="header_menu_list">커뮤니티</li></a>
                    <a href=""><li class="header_menu_list">커뮤니티</li></a>
                    <a href=""><li class="header_menu_list">커뮤니티</li></a>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <article id="main_community">a</article>
                <article id="main_game_rank">b</article>
                <article id="main_bb_player_rank">c</article>
            </section>
            <aside>
                d
            </aside>
        </main>
        <footer>
        e
        </footer>
    </body>
</html>